<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>App Usage</title>
  <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/bootstrap/css/bootstrap.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/leaflet/leaflet.css")'>
  <link rel="stylesheet" media="screen" href='@routes.Assets.versioned("lib/dc.js/dc.min.css")'>
  <link rel='stylesheet' href='@routes.Assets.versioned("stylesheets/main.css")'>


  <script type='text/javascript' src='@routes.Assets.versioned("lib/angularjs/angular.min.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("lib/leaflet/leaflet.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("lib/angular-leaflet-directive/angular-leaflet-directive.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("lib/jquery/jquery.min.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("lib/d3/d3.min.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("lib/crossfilter/crossfilter.min.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("lib/dc.js/dc.min.js")'></script>

  <script type="text/javascript" src='@routes.Assets.versioned("javascripts/AppUsage.js")' ></script>
  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/map/appControllers.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/common/services.js")'></script>
  <script type='text/javascript' src='@routes.Assets.versioned("javascripts/timeseries/appControllers.js")'></script>
</head>
<body>
  <div class="container" ng-app="hackathon.app" ng-controller="AppCtrl">
    <div class="row">
      <app-map id="app-map" class="col-md-12" config="appMapConf" data="appMapResult"></app-map>
    </div>
    <div class=row">
      <app-timeseries id="app-time-series" class="col-md-10" config="appTimeConf" data="appTimeResult"></app-timeseries>
      <div id="search-bar" class="col-md-2" style="margin-top:30px">
        <form class="form-horizontal">
          <select id="signal-type-select" class="form-control" ng-model="appMapConf.fb" ng-model="appTimeConf.fb">
            <option>foreground</option>
            <option>background</option>
          </select>
        </form>
      </div>
    </div>
  </div>
</body>
</html>