@*
 * This template takes a single argument, a String containing a
 * message to display.
 *@
@(message: String)

@*
 * Call the `main` template with two arguments. The first
 * argument is a `String` with the title of the page, the second
 * argument is an `Html` object containing the body of the page.
 *@
@main("Welcome to Play") {

    @*
     * Get an `Html` object by calling the built-in Play welcome
     * template and passing a `String` message.
     *@
    @play20.welcome(message, style = "Scala")
    <div class="container" ng-app="hackathon" ng-controller="AppCtrl">
        <div class="row">
            <div id="search-bar" class="container">
                <form class="form-horizontal">
                    <select id="carrier-select" class="form-control" ng-model="selection.carrier">
                        <option>cdma</option>
                        <option>evdo</option>
                        <option>gsm</option>
                        <option>lte</option>
                        <option>wcdma</option>
                    </select>
                    <select id="signal-type-select" class="form-control" ng-model="selection.type">
                        <option>strength</option>
                        <option>quality</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="row">
            <map id="signal-map" class="col-md-12" config="signalMapConf" data="Asterix.signalMapResult"></map>
            <time-series id="signal-time-series" class="col-md-12" conf="signalTimeConf" data="Asterix.signalTimeResult"></time-series>
        </div>
        @*<div class="row">*@
            @*<map id="app-map" class="col-md-12" config="appMapConf" data="Asterix.appMapResult"></map>*@
            @*<time-series id="app-time-series" class="col-md-12" conf="appTimeConf" data="Asterix.appTimeResult"></time-series>*@
        @*</div>*@
    </div>
}
